.DS_Store

*/xlm-roberta-large
backend/shared/tmp
backend/shared/predicted
__pycache__
backend/shared/base-models/*
backend/data_userid1/trained_models/*
.vscode/settings.json
final_laws_from_xml
final_laws_from_xml.json
norms_only.json
vectorized_norms.json
!.env.production
!.env.development

*/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
backend/tests/.pytest_cache
backend/worker-predict-container/rulebased/testingout/*
backend/shared/data_testuser/*
backend/converted/*
backend/shared/data_testaccount/*
backend/shared/logs/*
